<template>
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-9">
        <b-button variant="light" size="lg">
          <b-icon icon="arrow-left"></b-icon> สร้างใบสั่งซื้อ
        </b-button>
      </div>
      <div class="col">
        <b-button variant="light" class="w-25 float-right">Cancel</b-button>
        <b-button variant="primary" class="w-25 mx-1 float-right"
          >Save</b-button
        >
      </div>
    </div>
    <hr />
    <b>General</b>
    <hr />
    <div class="row">
      <div class="col">
        <div class="row">
          <b-col sm="3">
            <p>รหัสผู้ขาย<b class="text-danger">*</b></p>
          </b-col>
          <b-col>
            <b-form-input
              id="input-small"
              class="w-75"
              size="sm"
            ></b-form-input>
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>ชื่อผู้ติดต่อ</p>
          </b-col>
          <b-col>
            <b-form-select :options="contact" required size="sm" class="w-75" />
            <b-row
              ><p>
                หากยังไม่มีผู้ติดต่อ
                <b class="text-primary">สร้างข้อมูลผู้ติดต่อ</b>
              </p></b-row
            >
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>Vender Shipment No.</p>
          </b-col>
          <b-col>
            <b-form-input
              id="input-small"
              class="w-75"
              size="sm"
            ></b-form-input>
          </b-col>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <b-col sm="3">
            <p>เลขที่เอกสาร<b class="text-danger">*</b></p>
          </b-col>
          <b-col>
            <b-form-input
              id="input-small"
              size="sm"
              class="w-75"
              placeholder="PQ-202201001"
            ></b-form-input>
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>วันที่เอกสาร<b class="text-danger">*</b></p>
          </b-col>
          <b-col>
            <b-form-input
              id="input-small"
              type="date"
              size="sm"
              class="w-75"
            ></b-form-input>
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>วันที่ขอซื้อ</p>
          </b-col>
          <b-col>
            <b-form-input
              id="input-small"
              type="date"
              size="sm"
              class="w-75"
            ></b-form-input>
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>สถานะ<b class="text-danger">*</b></p>
          </b-col>
          <b-col>
            <b-form-select :options="status" required size="sm" class="w-75" />
          </b-col>
        </div>
      </div>
    </div>
    <br />
    <select class="  mx-1">
      <option>Manage</option>
    </select>
    <select class="  mx-1">
      <option>More Options</option>
    </select>
    <hr />
    <br />
    <br />
    <b>Invoice Details</b>
    <hr />
    <div class="row">
      <div class="col">
        <div class="row">
          <b-col sm="3">
            <p>รหัสสกุลเงิน</p>
          </b-col>
          <b-col>
            <b-form-select required size="sm" class="w-75" />
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>วันที่คาดว่าจะได้รับ</p>
          </b-col>
          <b-col>
            <b-form-input
              id="input-small"
              type="date"
              size="sm"
              class="w-75"
            ></b-form-input>
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>ภาษีกลุ่มการลงบัญชี</p>
          </b-col>
          <b-col>
            <b-form-select required size="sm" class="w-75" />
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>รหัสเงื่อนไขการชำระเงิน</p>
          </b-col>
          <b-col>
            <b-form-select required size="sm" class="w-75" />
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3"> <p>รหัสวิธีการชำระเงิน</p></b-col>

          <b-col>
            <b-form-select required size="sm" class="w-75" />
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>ประเภทรายการ</p>
          </b-col>
          <b-col>
            <b-form-select required size="sm" class="w-75" />
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>รหัสแผนก</p>
          </b-col>
          <b-col>
            <b-form-select required size="sm" class="w-75" />
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>รหัสโครงการ</p>
          </b-col>
          <b-col>
            <b-form-select required size="sm" class="w-75" />
          </b-col>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <b-col sm="3">
            <p>ส่วนลดการชำระเงิน(%)</p>
          </b-col>
          <b-col>
            <b-form-input
              id="input-small"
              type="number"
              size="sm"
              class="w-75"
            ></b-form-input>
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>วันที่รับส่วนลด</p>
          </b-col>
          <b-col>
            <b-form-input
              id="input-small"
              type="date"
              size="sm"
              class="w-75"
            ></b-form-input>
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>รหัสวิธีการจัดส่ง(FOB)</p>
          </b-col>
          <b-col>
            <b-form-select required size="sm" class="w-75" />
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>หลักฐานการชำระเงิน</p>
          </b-col>
          <b-col>
            <b-form-input
              id="input-small"
              size="sm"
              class="w-75"
            ></b-form-input>
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>หมายเลขผู้ขาย</p>
          </b-col>
          <b-col>
            <b-form-input
              id="input-small"
              size="sm"
              class="w-75"
            ></b-form-input>
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>On Hold</p>
          </b-col>
          <b-col>
            <b-form-input
              id="input-small"
              size="sm"
              class="w-75"
            ></b-form-input>
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>เรียกเก็บภาษี</p>
          </b-col>
          <b-col>
            <b-form-select :options="tax" required size="sm" class="w-75" />
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>รหัสเขตเสียภาษี</p>
          </b-col>
          <b-col>
            <b-form-select required size="sm" class="w-75" />
          </b-col>
        </div>
      </div>
    </div>

    <b>Shipping and Payment</b>
    <hr />
    <div class="row">
      <div class="col">
        <div class="row">
          <b-col sm="3">
            <p>การจัดส่ง</p>
          </b-col>
          <b-col>
            <b-form-select
              :options="shipping"
              required
              size="sm"
              class="w-75"
            />
          </b-col>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <b-col sm="3">
            <p>จ่ายให้</p>
          </b-col>
          <b-col>
            <b-form-select :options="payment" required size="sm" class="w-75" />
          </b-col>
        </div>
      </div>
    </div>

    <b>Foreign Trade ></b>
    <hr />
    <div class="row">
      <div class="col">
        <div class="row">
          <b-col sm="3">
            <p>ข้อกำหนดการทำธุรกรรม</p>
          </b-col>
          <b-col>
            <b-form-select required size="sm" class="w-75" />
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>วิธีการขนส่ง</p>
          </b-col>
          <b-col>
            <b-form-select required size="sm" class="w-75" />
          </b-col>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <b-col sm="3">
            <p>จุดเริ่มต้น</p>
          </b-col>
          <b-col>
            <b-form-select required size="sm" class="w-75" />
          </b-col>
        </div>
        <div class="row">
          <b-col sm="3">
            <p>เขต</p>
          </b-col>
          <b-col>
            <b-form-select required size="sm" class="w-75" />
          </b-col>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      status: [
        {
          value: 1,
          text: 'Open'
        },
        {
          value: 2,
          text: 'Released'
        }
      ],
      contact: [{ value: null, text: 'คุณปัทมา(มิ้ง)' }],
      tax: [
        { value: 0, text: 'On' },
        { value: 1, text: 'Off' }
      ],
      shipping: [{ value: 0, text: 'Customer Address' }],
      payment: [{ value: 0, text: 'Default(vender)' }]
    }
  }
}
</script>
