<template>
  <div class="container-fluid">
    <div class="row my-3">
      <div class="col-10"><h2>ใบขอซื้อ</h2></div>
    </div>
    <div class="row my-3">
      <div class="col-2">
        <h4>สถานะ</h4>
        <select v-model="selected_status" class="w-100">
          <option disabled value="">ทั้งหมด</option>
          <option>Open</option>
          <option>Released</option>
        </select>
      </div>
      <div class="col-3">
        <h4>ค้นหา</h4>
        <input v-model="serch" class="w-100" />
      </div>
      <div class="col-2 mt-4 pt-3">
        <a id="serch-color" href="">
          <b-icon icon="sliders" class="mx-2" /> ค้นหาขั้นสูง
        </a>
      </div>
      <div class="col-1 mt-4 pt-3">
        <b-button variant="primary" id="serch" class="w-100">ค้นหา</b-button>
      </div>
    </div>
    <b-table
      id="my-table"
      small
      noCollapse
      :items="items.reverse()"
      :fields="filed"
      :head-variant="light"
      :total-rows="rows"
      :per-page="perPage"
      :current-page="currentPage"
    >
      <template #cell(Action)>
        <b-icon icon="pencil-square" class="mx-2" />
        <b-icon icon="trash" class="mx-2" />
      </template>
    </b-table>
    showing 1 to {{ perPage }} of {{ rows }} entries
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      prev-text="<"
      next-text=">"
      aria-controls="my-table"
      class="float-right"
      size="sm"
      first-number
      last-number
      pills
    />
    <p class="float-right">entries</p>
    <select v-model="perPage" class="  mx-1">
      <option>10</option>
      <option>25</option>
    </select>
    <p class="float-right">Show</p>
  </div>
</template>
<script>
export default {
  data () {
    return {
      perPage: 10,
      currentPage: 1,
      selected_status: '',
      serch: '',
      filed: [
        { key: 'วันที่ออกเอกสาร', label: 'วันที่ออกเอกสาร' },
        { key: 'เลขที่เอกสาร', label: 'เลขที่เอกสาร' },
        { key: 'วันที่ขอซื้อ', label: 'วันที่ขอซื้อ' },
        { key: 'รหัสผู้ขาย', label: 'รหัสผู้ขาย' },
        { key: 'ชื่อผู้ติดต่อ', label: 'ชื่อผู้ติดต่อ' },
        { key: 'จำนวนเงินทั้งสิ้น', label: 'จำนวนเงินทั้งสิ้น' },
        { key: 'จำนวนเงินทั้งสิ้น', label: 'จำนวนเงินทั้งสิ้น' },
        { key: 'status', label: 'สถานะ' },
        { key: 'Action', label: 'Action' }
      ],
      items: [
        {
          วันที่ออกเอกสาร: '9/05/2565',
          เลขที่เอกสาร: 'PE6505-00001',
          วันที่ขอซื้อ: '28/04/2565',
          รหัสผู้ขาย: 'ก-0001',
          ชื่อผู้ขาย: 'กรุงเทพดุสิตเวชการ จำกัด (มหาชน)',
          ชื่อผู้ติดต่อ: 'คุณสุธาทิพย์ จันทร์งาม',
          จำนวนเงินทั้งสิ้น: '1,000,000.00',
          status: 'Open'
        },
        {
          วันที่ออกเอกสาร: '9/05/2565',
          เลขที่เอกสาร: 'PE6505-00002',
          วันที่ขอซื้อ: '29/04/2565',
          รหัสผู้ขาย: 'ก-0001',
          ชื่อผู้ขาย: 'กรุงเทพดุสิตเวชการ จำกัด (มหาชน)',
          ชื่อผู้ติดต่อ: 'คุณสุธาทิพย์ จันทร์งาม',
          จำนวนเงินทั้งสิ้น: '100,000.00',
          status: 'Open'
        },
        {
          วันที่ออกเอกสาร: '10/05/2565',
          เลขที่เอกสาร: 'PE6505-00003',
          วันที่ขอซื้อ: '01/05/2565',
          รหัสผู้ขาย: 'อ-0002',
          ชื่อผู้ขาย: 'อเล็กซอน จำกัด',
          ชื่อผู้ติดต่อ: 'คุณปราณี',
          จำนวนเงินทั้งสิ้น: '1,075,000.00',
          status: 'Open'
        },
        {
          วันที่ออกเอกสาร: '10/05/2565',
          เลขที่เอกสาร: 'PE6505-00004',
          วันที่ขอซื้อ: '01/05/2565',
          รหัสผู้ขาย: 'อ-0002',
          ชื่อผู้ขาย: 'อเล็กซอน จำกัด',
          ชื่อผู้ติดต่อ: 'คุณปราณี',
          จำนวนเงินทั้งสิ้น: '75,000.00',
          status: 'Open'
        },
        {
          วันที่ออกเอกสาร: '10/05/2565',
          เลขที่เอกสาร: 'PE6505-00005',
          วันที่ขอซื้อ: '10/05/2565',
          รหัสผู้ขาย: 'อ-0002',
          ชื่อผู้ขาย: 'อนุสรณ์มหาชัยชูรืมื จำกัด',
          ชื่อผู้ติดต่อ: 'คุณสมศรี',
          จำนวนเงินทั้งสิ้น: '109,000.00',
          status: 'Open'
        },
        {
          วันที่ออกเอกสาร: '10/05/2565',
          เลขที่เอกสาร: 'PE6505-00006',
          วันที่ขอซื้อ: '10/05/2565',
          รหัสผู้ขาย: 'อ-0002',
          ชื่อผู้ขาย: 'อนุสรณ์มหาชัยชูรืมื จำกัด',
          ชื่อผู้ติดต่อ: 'คุณสมศรี',
          จำนวนเงินทั้งสิ้น: '10,000.00',
          status: 'Open'
        },
        {
          วันที่ออกเอกสาร: '11/05/2565',
          เลขที่เอกสาร: 'PE6505-00007',
          วันที่ขอซื้อ: '10/05/2565',
          รหัสผู้ขาย: 'ค-0003',
          ชื่อผู้ขาย: 'คาร์ดิเนล เฮลท์ 222 (ประเทศไทย) จำกัด',
          ชื่อผู้ติดต่อ: 'คุณอุไพร',
          จำนวนเงินทั้งสิ้น: '15,000,000.00',
          status: 'Open'
        },
        {
          วันที่ออกเอกสาร: '11/05/2565',
          เลขที่เอกสาร: 'PE6505-00008',
          วันที่ขอซื้อ: '11/05/2565',
          รหัสผู้ขาย: 'ค-0003',
          ชื่อผู้ขาย: 'คาร์ดิเนล เฮลท์ 222 (ประเทศไทย) จำกัด',
          ชื่อผู้ติดต่อ: 'คุณอุไพร',
          จำนวนเงินทั้งสิ้น: '70,090.00',
          status: 'Open'
        },
        {
          วันที่ออกเอกสาร: '12/05/2565',
          เลขที่เอกสาร: 'PE6505-00009',
          วันที่ขอซื้อ: '28/04/2565',
          รหัสผู้ขาย: 'ค-0002',
          ชื่อผู้ขาย: 'ควอลิตี้เซรามิก จำกัด',
          ชื่อผู้ติดต่อ: 'คุณปรมินทร์',
          จำนวนเงินทั้งสิ้น: '15,000.00',
          status: 'Released'
        },
        {
          วันที่ออกเอกสาร: '12/05/2565',
          เลขที่เอกสาร: 'PE6505-00010',
          วันที่ขอซื้อ: '04/05/2565',
          รหัสผู้ขาย: 'ค-0001',
          ชื่อผู้ขาย: 'คม เอ็นจิเนียริ่ง',
          ชื่อผู้ติดต่อ: 'คุณรุ่งนภา ศรีโสภณ',
          จำนวนเงินทั้งสิ้น: '1,070.00',
          status: 'Released'
        },
        {
          วันที่ออกเอกสาร: '12/05/2565',
          เลขที่เอกสาร: 'PE6505-00011',
          วันที่ขอซื้อ: '05/05/2565',
          รหัสผู้ขาย: 'ค-0001',
          ชื่อผู้ขาย: 'คม เอ็นจิเนียริ่ง',
          ชื่อผู้ติดต่อ: 'คุณรุ่งนภา ศรีโสภณ',
          จำนวนเงินทั้งสิ้น: '107,000.00',
          status: 'Open'
        },
        {
          วันที่ออกเอกสาร: '12/05/2565',
          เลขที่เอกสาร: 'PE6505-00012',
          วันที่ขอซื้อ: '10/05/2565',
          รหัสผู้ขาย: 'ก-0001',
          ชื่อผู้ขาย: 'กรุงเทพดุสิตเวชการ จำกัด (มหาชน)',
          ชื่อผู้ติดต่อ: 'คุณสุธาทิพย์ จันทร์งาม',
          จำนวนเงินทั้งสิ้น: '16,000,000.00',
          status: 'Open'
        }
      ]
    }
  },
  computed: {
    rows () {
      return this.items.length
    }
  }
}
</script>
<style>
#serch {
  background-color: rgb(107, 44, 195);
}
#serch-color {
  color: rgb(107, 44, 195);
}
</style>
