<template>
  <div>
    <nav
      class="navbar navbar-dark navbar-expand bg-dark justify-content-between"
    >
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item text-center">
            <router-link to="/home">
              <a class="nav-link" data-toggle="modal">
                <span class="d-none d-sm-inline d-xl-block px-1 ">
                  Clicknext
                </span>
              </a>
            </router-link>
          </li>
        </ul>

        <ul class="nav navbar-nav">
          <li class="nav-item text-center" id="login-btn">
            <a class="nav-link" data-toggle="modal" right>
              <b-icon icon="search" variant="light" class="mx-2" />
              <b-icon icon="info-circle" variant="light" class="mx-2" />
              <b-icon icon="gear" variant="light" class="mx-2" />
              <b-icon icon="grid3x3-gap-fill" variant="light" class="mx-2" />
              |
              <b-icon icon="bell" variant="light" class="mx-2" />
              <b-icon icon="person-bounding-box" variant="light" />
              <b-dropdown
                size="md"
                variant="link"
                toggle-class="text-decoration-none"
                no-caret
              >
                <template #button-content>
                  <b-icon icon="chevron-double-down" variant="light" />
                </template>
                <b-dropdown-item-button
                  ><span>ออกจากระบบ</span></b-dropdown-item-button
                >
              </b-dropdown>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <Home />
    <Add />
  </div>
</template>
<script>
import Home from './views/Home.vue'
import Add from './views/AddSell.vue'

export default {
  components: {
    Home,
    Add
  }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;1,900&display=swap');
.tab-title {
  font-family: 'Kanit';
}
</style>
